<input type="text" [(ngModel)]="title">
{{ title }}
<br>
<br>
<input type="text" [(ngModel)]="nombre">
{{ nombre }}
<input type="text" [(ngModel)]="numActual">
{{ numActual }}

<!--Condicional que mostrará el contenido de la etiqueta en caso de que su salida sea True-->
<div *ngIf="(title === 'ICE CUBE' && nombre === 'Elon Musk') || numActual>
  '10'">
  <b>Bienvenido a la página de ICE CUBE Elon</b>
</div>

<div [ngSwitch]="title">

  <p *ngSwitchCase>Este es Elon</p>
  <p *ngSwitchCase>Este es Tyrell</p>
  <p *ngSwitchCase>Este es Eliot</p>
  <p *ngSwitchDefault>No hay match</p>

</div>



<button (click)="addItem()">Add Item</button>

<ul>
  <li *ngIf="items.length === 0">La lista está vacía</li>
  <!--Ciclo For que permite iterar una variable, en este caso un arreglo-->
  <li *ngFor="let name of items; index as i">

    {{ i }} {{ name }}
    <button (click)="deleteItem(i)">Delete</button>
    <br>
  </li>
</ul>

<div *ngFor="let product of products">
  <app-product (productClicked)="clickProduct($event)" [product]='product'></app-product>
  
</div>
